<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serveur Error</title>
</head>
<style>
    .error_Container{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
</style>
<body>
    <div class="error_Container">
         <h1>404 Error</h1>
         <p> '</p>
         <p>Page Not Found</p>
    </div>
   
</body>
</html>